@model OrderSummaryGenerator.Models.OrderSummary

@{
    ViewData["Title"] = "Generar Resumen de Orden";
}
<br />
<h4>Generar Resumen de Orden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateSummary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="model" class="control-label"></label>
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client" class="control-label"></label>
                <input asp-for="client" class="form-control" />
                <span asp-validation-for="client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneContact" class="control-label"></label>
                <input asp-for="phoneContact" class="form-control" />
                <span asp-validation-for="phoneContact" class="text-danger"></span>               
            </div>
            <div class="form-group">
                <label asp-for="deliveryPlace" class="control-label"></label>
                <input asp-for="deliveryPlace" class="form-control" id="deliveryPlace" />
                <span asp-validation-for="deliveryPlace" class="text-danger"></span>
                <input type="checkbox" id="IsMXD" name="IsMXD" class="form-check-input" onchange="IsMXDDeliveryPlace()" />
                <label class="form-check-label" for="IsMXD">Entrega en MXD</label>
            </div>
            <div class="form-group">
                <label asp-for="deliveryDay" class="control-label"></label>
                <input asp-for="deliveryDay" class="form-control" type="date" id="deliveryDay" />
                <span asp-validation-for="deliveryDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deliveryTime" class="control-label"></label>
                <input asp-for="deliveryTime" class="form-control" />
                <span asp-validation-for="deliveryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amountToPay" class="control-label"></label>
                <input asp-for="amountToPay" class="form-control" type="number" />
                <span asp-validation-for="amountToPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentType" class="control-label"></label>
                <select asp-for="paymentType" class="form-control" id="paymentType">
                @foreach (var p in ViewBag.paymentTypes)
                {
                    <option value="@p">@p</option>
                }
                </select>
                <span asp-validation-for="paymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="indications" class="control-label"></label>
                <textarea asp-for="indications" class="form-control" rows="5" id="indications"></textarea>
                <span asp-validation-for="indications" class="text-danger"></span>
                <input type="checkbox" id="IsDepartamental" name="IsDepartamental" class="form-check-input" onchange="IsMXDDeliveryPlace()" />
                <label class="form-check-label" for="IsDepartamental">Entrega Departamental</label>
                <input type="checkbox" id="IsSanSalvador" name="IsSanSalvador" class="form-check-input" onchange="IsMXDDeliveryPlace()" />
                <label class="form-check-label" for="IsSanSalvador">Entrega SS</label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <p>@Html.DisplayFor(x=>x.orderSummaryText)</p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
